.button {
  font-weight: 400;
  color: var(--button-color);
  background: var(--button-bg);
  text-transform: capitalize;
  padding-right: 5px;
  padding-left: 5px;
  height: 1.5em;
  border-width: 1px;
  border-style: solid;
  white-space: nowrap;
  user-select: none; // unselectable
  touch-action: manipulation; // disables tap zoom
  overflow: visible;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-color: var(--button-border-color);

  &.button-little {
    font-size: 0.9em;
  }

  &.button-medium {
    font-size: 1em;
    padding-right: 10px;
    padding-left: 10px;
    height: 2em;
  }

  &.button-big {
    font-size: 1.1em;
    padding-right: 15px;
    padding-left: 15px;
    height: 3em;
  }

  &[disabled] {
    background: var(--button-bg);
    opacity: 0.7;

    &:hover {
      cursor: default;
    }
  }

  &.button-uppercase {
    text-transform: uppercase;
  }

  &.button-important {
    background: var(--accent);
    color: #fff;

    &:hover {
      filter: brightness(120%) !important;
    }
  }

  &.button-success {
    background: var(--success);
    color: #fff;
  }

  &.active:not([disabled]),
  &:hover:not([disabled]) {
    cursor: pointer;
    filter: var(--button-hover-filter);
  }

  svg {
    width: 25px;
    height: 25px;

    * {
      fill: var(--button-color);
    }
  }
}